#petHubLogo {
    height: 46px;
}

#testimonials {
    font-size: 300%;
    font-weight: bold; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#testimonial-left {
    border-bottom: 2px solid rgb(237, 214, 66);
    justify-content: center;

}

#our-pets {
    display: flex;
    flex-wrap: wrap;
}


/* change hover for mouse over links */